<header>
  <input type="checkbox" id="btn-menu" />
  <label for="btn-menu"><img src="./assets/menu.png" alt="" /></label>

  <nav class="menu">
    <ul>
      <li><a href="">Inventario</a></li>
      <li><a href="./productos">Editar Producto</a></li>
      <li><a href="./proveedores">Proveedores</a></li>
      <li><a href="./mercanciaEntrante">Compra Mercancia</a></li>
    </ul>
  </nav>
</header>

<div class="content">
  <div class="contact-wrapper">
    <div class="contact-form">
      <h3 class="centrado">Proveedores</h3>
      <form>
        <p>
          <label>ID:</label>
        </p>
        <p>
          <input type="number" name="ID" />
        </p>
        <p>
          <label>Nombre del Proveedor:</label>
        </p>
        <p>
          <input type="text" name="Nombre" />
        </p>
        <p>
          <label>Direccion:</label>
        </p>
        <p>
          <input type="text" name="Direccion" />
        </p>
        <p>
          <label>Codigo Postal:</label>
        </p>
        <p>
          <input type="text" name="CodigoPostal" />
        </p>
        <p>
          <label>Telefono:</label>
        </p>
        <p>
          <input type="tel" name="Telefono" />
        </p>
        <div class="tres">
          <p>
            <button type="reset">Limpiar</button>
          </p>
          <p>
            <button type="submit">Guardar</button>
          </p>
          <p>
            <button type="submit">Eliminar</button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
