<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="centrado">Mercancia Entrante</h3>
      <form>
        <p>
          <label>Nombre del Producto:</label>
        </p>
        <p>
          <input type="text" name="Nombre" />
        </p>
        <p>
          <label>Precio:</label>
        </p>
        <p>
          <input type="text" name="precio" />
        </p>
        <p>
          <label>Marca:</label>
        </p>
        <p>
          <input type="text" name="marca" />
        </p>
        <p>
          <label>Proveedor:</label>
        </p>
        <p>
          <input type="tel" name="proveedor" />
        </p>
        <p>
          <label>Cantidad Ingreso:</label>
        </p>
        <p>
          <input type="text" name="cantidadIngreso" />
        </p>

        <p>
          <button type="reset">Limpiar</button>
        </p>
        <p>
          <button type="submit">Guardar</button>
        </p>
      </form>
    </div>
    <div class="col">
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Marca</th>
              <th scope="col">Proveedor</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <td>
              <ul *ngFor="let pro of productos">
                <li>
                  {{ pro.nombre_pro }}
                </li>
              </ul>
            </td>
            <td>
              <ul *ngFor="let pro of productos">
                <li>
                  {{ pro.marca_pro }}
                </li>
              </ul>
            </td>
            <td>
              <ul *ngFor="let pro of productos">
                <li>
                  {{ pro.proveedor }}
                </li>
              </ul>
            </td>
            <td>
              <ul *ngFor="let pro of productos">
                <li class="lis-item-precio">${{ pro.precio }}</li>
              </ul>
            </td>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




