<app-nav></app-nav>

<div class="content">
  <div class="contact-wrapper">
    <div class="contact-form">
      <h3 class="centrado">Mercancia Entrante</h3>
      <form>
        <p>
          <label>ID:</label>
        </p>
        <p>
          <input type="number" name="ID" />
        </p>
        <p>
          <label>Nombre del Producto:</label>
        </p>
        <p>
          <input type="text" name="Nombre" />
        </p>
        <p>
          <label>Precio:</label>
        </p>
        <p>
          <input type="text" name="precio" />
        </p>
        <p>
          <label>Marca:</label>
        </p>
        <p>
          <input type="text" name="marca" />
        </p>
        <p>
          <label>Proveedor:</label>
        </p>
        <p>
          <input type="tel" name="proveedor" />
        </p>
        <p>
          <label>Cantidad Ingreso:</label>
        </p>
        <p>
          <input type="text" name="cantidadIngreso" />
        </p>

        <p>
          <button type="reset">Limpiar</button>
        </p>
        <p>
          <button type="submit">Guardar</button>
        </p>
      </form>
    </div>
  </div>
</div>
