<header>
  <input type="checkbox" id="btn-menu" />
  <label for="btn-menu"><img src="./assets/menu.png" alt="" /></label>

  <nav class="menu">
    <ul>
        <li><a href="./infoTra">Informacion de Trabajadores</a></li>
        <li><a href="./editarTra">Editar Trabajador</a></li>
      </ul>
  </nav>
</header>

<div class="content">
  <div class="contact-wrapper">
    <div class="contact-form">
      <h3 class="centrado">Editar Trabajadores</h3>
      <form>
        <p>
          <label>ID Trabajador</label>
        </p>
        <p>
          <input type="number" name="ID" />
        </p>
        <p>
          <label>Nombre</label>
        </p>
        <p>
          <input type="text" name="Nombre" />
        </p>
        <p>
          <label>Primer Apellido</label>
        </p>
        <p>
          <input type="text" name="PrimerApellido" />
        </p>
        <p>
          <label>Segundo Apellido</label>
        </p>
        <p>
          <input type="text" name="SegundoApellido" />
        </p>
        <p>
          <label>Direccion</label>
        </p>
        <p>
          <input type="text" name="Direccion" />
        </p>
        <p>
          <label>Codigo Postal</label>
        </p>
        <p>
          <input type="text" name="CodigoPostal" />
        </p>
        <p>
          <label>Telefono</label>
        </p>
        <p>
          <input type="tel" name="Telefono" />
        </p>
        <p>
          <label>Cargo</label>
        </p>
        <p>
          <input type="text" name="Cargo" />
        </p>
        <p>
          <label>Horario</label>
        </p>
        <p>
          <input type="text" name="horario" />
        </p>
        <p>
          <label>Correo</label>
        </p>
        <p>
          <input type="email" name="email" />
        </p>
        <div class="tres">
          <p>
            <button type="reset">Limpiar</button>
          </p>
          <p>
            <button type="submit">Guardar</button>
          </p>
          <p>
            <button type="submit">Eliminar</button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
