
<app-nav></app-nav>

<body class="text-center">
  <main class="form-signin">
    <form>
      <img
        class="mb-4"
        src="https://img2.freepng.es/20180524/wst/kisspng-inventory-management-software-logo-inventory-contr-csb-tech-emporium-5b06479706e1d9.2334027615271381990282.jpg"
        alt=""
        width="144"
        height="114"
      />
      <h1 class="h3 mb-3 fw-normal">Bienvenido</h1>

      <div class="form-floating">
        <div>
          <label class="session">Nombre:</label>
          <label class="session">Cargo:</label>
          <label class="session">Correo:</label>
        </div>
      </div>
      <div class="form-floating">
        <div class="d-grid gap-4 col-6 mx-auto">
          <button class="btn btn-primary" type="button">Ventas</button>
        </div>
      </div>
    </form>
  </main>
</body>
