.box-list{
  background-color:white;
  color: black;
  height: 500px;
  width: 600px;
  margin:auto;
  overflow-y: scroll;
}
.inventario{
border: 1px solid black;
}
th{
  padding: 10px 42px ;
}
td{
  text-align: center;
  border-right: 1px solid black;
  color: black;
}
ul{
  border-bottom: 1px solid black;
}
