<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Easy ManagePro</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="./inventario"
            >Inventario</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./productos">Editar Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./proveedores">Proveedor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./entradas">Compra Mercancia</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="./trabajadores">Trabajadores</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Inventario
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="./inventario">Inventario</a></li>
            <li>
              <a class="dropdown-item" href="./productos">Editar Productos</a>
            </li>
            <li><a class="dropdown-item" href="./proveedor">Proveedor</a></li>
            <li>
              <a class="dropdown-item" href="./mercanciaEntrante"
                >Compra Mercancia</a
              >
            </li>
          </ul>
        </li>

      </ul>
    </div>
    <button class='logout' type="submit" (click)="logout()">logout</button>
  </div>
</nav>
