<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col">
      <form action='/signup' class="row g-3 needs-validation" novalidate>
        <div class="col-md-6">
          <label for="validationCustom01" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="validationCustom01" name='nombre'   [(ngModel)]="aute.nombre">
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom01" class="form-label">contraseña</label>
          <input type="text" class="form-control" id="validationCustom01" name='contra'  [(ngModel)]="aute.contra">
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        
        <div class="col-12">
          <button class="btn btn-primary" type="submit" (click)='saveAut()'>Agregar Trabajador</button>
        </div>
      </form>
    </div>
    <div class="col">2 of 2</div>
  </div>
</div>
