<app-nav></app-nav>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Marca</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <td>
        <ul *ngFor="let pro of producto">
          <li>
            {{ pro.nombre_pro }}
          </li>
        </ul>
      </td>
      <td>
        <ul *ngFor="let pro of producto">
          <li>
            {{ pro.marca_pro }}
          </li>
        </ul>
      </td>
      <td>
        <ul *ngFor="let pro of producto">
          <li>
            {{ pro.id_proveedor }}
          </li>
        </ul>
      </td>
      <td>
        <ul *ngFor="let pro of producto">
          <li class="lis-item-precio">${{ pro.precio }}</li>
        </ul>
      </td>
      <td>
        <ul *ngFor="let pro of producto">
          <li>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteProduct(pro.id)"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </li>
        </ul>
      </td>
      <td>
        <ul *ngFor="let pro of producto">
          <li>
            <button
              type="button"
              class="btn btn-primary"
              [routerLink]="['/productos/editar',pro.id]"
              
            >
            <i class="far fa-edit"></i>
            </button>
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li>
            <button type="button" class="btn btn-success" [routerLink]="['/productos']">
            <i class="fas fa-plus-circle"></i>
            </button>
          </li>
        </ul>
      </td>
    </tbody>
  </table>
</div>



<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID de Producto</th>
        <th scope="col">Existencias</th>
      </tr>
    </thead>
    <tbody>
      <td>
        <ul *ngFor="let inv of inventario">
          <li>
            {{ inv.id_producto }}
          </li>
        </ul>
      </td>
      <td>
        <ul *ngFor="let inv of inventario">
          <li>
            {{ inv.cantidad_disp }}
          </li>
        </ul>
      </td>
     
    </tbody>
  </table>
</div>