<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="centrado">Productos</h3>
      <form>
        <p>
          <label>Nombre del Porducto:</label>
        </p>
        <p>
          <input type="text" name="Nombre" [(ngModel)]="produ.nombre_pro" />
        </p>
        <p>
          <label>Marca:</label>
        </p>
        <p>
          <input type="text" name="marca" [(ngModel)]="produ.marca_pro" />
        </p>
        <p>
          <label>Proveedor:</label>
        </p>

        <select class="form-select" aria-label="Default select example">
          <option *ngFor="let pe of proveedores" [value]="pe.id" >
            {{pe.nombre_prove}}
          </option>
        </select>

        <p>
          <label>Precio:</label>
        </p>
        <p>
          <input type="tel" name="precio" [(ngModel)]="produ.precio" />
        </p>
        <div class="tres">
          <p>
            <button type="reset">Limpiar</button>
          </p>
          <p>
            <button type="submit" (click)="edit ? updateProduct() :  saveProduct()">Guardar</button>
          </p>
        </div>
      </form>
    </div>

  </div>
</div>
